:root {
  --background-color: #fff;
  --text-color: #333;
  --button-color: #eee;
  --station-color: #fff;
  --water-color: #dbf2f3;
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --button-color: #333;
  --station-color: #eee;
  --water-color: #07283e;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-color);
  border-width: 0;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;

  &:hover {
    background-color: #aaa;
  }
  &:disabled,
  &[disabled] {
    pointer-events: none;
    background-color: #eee;
    opacity: 0.4;
  }

  i {
    margin-right: 0.5rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
