@import './variables.scss';
@import './animations.scss';

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-color);
  border-width: 0;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  width: 130px;
  height: 130px;
  padding: 1rem;
  margin: 0.5rem;
  align-items: center;

  &:hover {
    background-color: #aaa;
  }
  &:disabled,
  &[disabled] {
    pointer-events: none;
    background-color: #eee;
    opacity: 0.4;
  }

  i {
    font-size: 2rem !important;
    margin-bottom: 0.5rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
