@import './variables.scss';
@import './animations.scss';

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: var(--background-color);
  color: var(--text-color);
}

button,
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

button {
  position: relative;
  background-color: var(--button-color);
  font-family: sans-serif;
  border-width: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 16px;
  overflow: hidden;

  &.highlight {
    position: relative;
    &::after {
      animation: sheen 3s infinite;
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      background: linear-gradient(
        to right,
        var(--button-color),
        white,
        var(--button-color),
      );
      opacity: 0.4;
      height: 80px;
      width: 80px;
      transform: rotateZ(20deg);
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: #aaa;
  }

  &:disabled,
  &[disabled] {
    pointer-events: none;
    background-color: #eee;
    opacity: 0.4;
  }

  i {
    font-size: 1.5rem !important;
    margin-right: 8px;
  }
}

.link-button {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 16px;
}
