:root {
  --background-color: #fff;
  --text-color: #333;
  --button-color: #eee;
  --station-color: #fff;
  --water-color: #dbf2f3;
  --line-color: #ddd;
  --sheen-opacity: 0.4;
  --success-color: #50c878;
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --button-color: #333;
  --station-color: #eee;
  --water-color: #07283e;
  --line-color: #555;
  --sheen-opacity: 0.1;
}
